<link rel="manifest" href="manifest.json">
<link rel="icon" type="image/png" href="images/icons/icon-72x72.png">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="OKAZION">
<meta name="apple-mobile-web-app-title" content="OKAZION">
<meta name="msapplication-navbutton-color" content="#00aaff">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="msapplication-starturl" content="/">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-signin-client_id" content="958526051973-eiihbob18uu8bv0e7vq1sgaaqsd1pfbc.apps.googleusercontent.com">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="/css/uikit.min.css" />
<link rel="stylesheet" href="/css/index.css" />

<script src="/js/axios.min.js"></script>
<script src="/js/uikit.min.js"></script>
<script src="/js/uikit-icons.min.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/moment-with-locales.js"></script>