<header id="desktop-header">
    <div class="uk-box-shadow-small">
        <nav class="uk-navbar-container uk-margin" uk-navbar uk-navbar="mode: click" style="height: 60px">
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/">
                    <img src="img/okazion.png" width="100" alt="OKZ">
                </a>
            </div>
        </nav>
    </div>
</header>
<header id="mobile-header">
    <div class="uk-box-shadow-small">
        <nav class="uk-navbar-container uk-margin" uk-navbar uk-navbar="mode: click" style="height: 60px">
            <div class="uk-navbar-center">
                <a class="uk-navbar-item uk-logo" href="/">
                    <img src="img/okazion.png" width="100" alt="OKZ">
                </a>
            </div>
        </nav>
    </div>
</header>