<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contactez-nous</title>
    {{ render "components/common-head.html"}}
</head>
<style>
    #contact {
        margin-right: auto;
        margin-left: auto;
    }

    @media only screen and (max-width: 1192px) {

        /* For mobile: */
        .uk-padding {
            padding: 10px 20px;
        }

        ol,
        ul {
            padding-left: 12px;
        }
    }
</style>

<body>
    <div id="contact">
        {{ render "components/secondary-header.html"}}
        <main>
            <div class="uk-padding">
                <h3 class="uk-text-center">RÈGLES ET CONDITIONS D'UTILISATION DU SITE</h3>
                <P>
                    Afin de vous offrir un service efficace exempt de litiges, Nous vous prions de vous conformer aux
                    règles suivantes:
                </P>
                <ol>
                    <li>
                        Il est interdits de publier sur le site des produits ou des articles volés ainsi que objets
                        interdits par la loi.
                    </li>
                    <li>
                        Les annonces qui peuvent heurter la sensibilité ou tout autre produits à caractère sexuel sont
                        interdits de publication sur
                        le site
                    </li>
                    <li>
                        Veuillez vous assurer de fournir une description complète et détaillée pour chaque annonce.
                    </li>
                    <li>
                        Veuillez vous assurer de donner les contacts et des informations exactes indispensables aux
                        acheteurs.
                    </li>
                    <li>
                        Veuillez vous assurer de la bonne qualité des photos afin pour toucher le maximum de personnes
                        et faciliter l'attrait pour
                        vos annonces
                    </li>
                    <li>
                        Veuillez vous assurer de la qualité des produits avant de les publier. Si tant est que certains
                        produits peuvent perdre de
                        leur superbe depuis la date de publication jusqu'à l'achat, le vendeur doit notifier aux
                        clients
                        le pourquoi de cette altération et user de compromis
                    </li>
                </ol>
                <hr>
                <h3 class="uk-text-center">A L'ENDROIT DES ANNONCEURS</h3>
                <p>
                    Une photo de très bonne qualité est un atout indéniable pour attirer les visiteurs à voir vos
                    annonces. Par contre, Les photos
                    de qualité médiocre peuvent faire une mauvaise publicité. Par conséquent, soucieux de vous offrir
                    une
                    meilleure expérience d’utilisation sur le site Okazion nous vous recommandons de mettre sur le site
                    des
                    photos de bonne qualité et plusieurs si possible. </p>
                <hr>
                <h3 class="uk-text-center">ASTUCES POUR EVITER LES ARNAQUES</h3>
                <p>Afin d'éviter tous désagréments ou arnaques evitez : </p>
                <ul>
                    <li>D'effectuer l'achat dans une zone dangereuse et à des heures tardives.
                    </li>
                    <li>D'effectuer l'achat en ligne sans avoir au préalable vu le produit réellement.
                    </li>
                    <li>Tout achat avec une personne d'apparence douteuse ou n'ayant pas toutes ses facultés.</li>
                    <li>
                        Les paiements par transfert d'argent qui vous seront proposés.
                    </li>
                </ul>
            </div>
        </main>
        {{ render "components/footer.html"}}
    </div>
</body>

</html>