<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contactez-nous</title>
    <link rel="stylesheet" href="/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
</head>
<style>
    #contact {
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }
</style>

<body>
    <div id="contact" class="uk-box-shadow-small">
        <header id="desktop-header">
            <div class="uk-box-shadow-small">
                <nav class="uk-navbar-container uk-margin" uk-navbar uk-navbar="mode: click">
                    <div class="uk-navbar-left">
                        <a class="uk-navbar-item uk-logo" href="/">
                            <img src="/img/logo-okz.png" width="100" alt="OKZ">
                        </a>
                    </div>
                </nav>
            </div>
        </header>
        <header id="mobile-header">
            <div class="uk-box-shadow-small">
                <nav class="uk-navbar-container uk-margin" uk-navbar uk-navbar="mode: click">
                    <div class="uk-navbar-center">
                        <a class="uk-navbar-item uk-logo" href="/">
                            <img src="/img/logo-okz.png" width="100" alt="OKZ">
                        </a>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <div class="uk-padding">
                <h1>A PROPOS DU SITE OKAZION</h1>
                <P>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores vero qui quis quaerat eligendi optio expedita aut iure,
                    reprehenderit repellat facilis quas, consectetur aperiam laborum cumque corrupti quibusdam ducimus ratione.
                    Excepturi vero sint ad possimus nulla hic, quas, eius, ipsum repellat consequuntur quidem ut laboriosam
                    voluptatem incidunt similique nostrum ipsa. Fuga aspernatur delectus iste a saepe, harum explicabo enim
                    nam? Maiores similique ut magnam quo dolores omnis illum pariatur reprehenderit libero quos voluptas,
                    explicabo laudantium vitae, quibusdam consequatur nostrum perspiciatis voluptatibus recusandae. Saepe,
                    expedita! Aut recusandae nisi distinctio ea! Aperiam. Ab ratione laboriosam saepe est, id, eligendi mollitia
                    et aut vitae excepturi recusandae, unde voluptatum minima reprehenderit ipsum? Corporis eligendi, sapiente
                    dicta cumque aperiam itaque vitae ratione sint tempore natus. Quia saepe sunt consequatur perspiciatis
                    deleniti quo ea voluptatibus iusto exercitationem suscipit, illo non laboriosam eius eum nihil omnis
                    voluptatum. Praesentium nobis velit reprehenderit officiis repudiandae, temporibus vel et amet?
                </P>
            </div>
            <div class="uk-padding">
                <h1>SOUHAITEZ-VOUS NOUS CONTACTER ?</h1>
                <p>
                    Nous sommes ouvert à tous nos utilisateurs. Il est expédient que nous soyons à votre écoute et repondrons à vos attentes
                    avec célérité. Nous sommes disponibles pour vous. Vous pouvez nous contacter grace au formulaire ci-dessous.</p>
                <p>En outre, pour une meilleure interaction avec vous, toutes suggestions tendant à améliorer le site seront
                    la bienvenue.
                </p>
            </div>
            <div class="uk-padding" uk-grid>
                <form class="uk-width-1-1 uk-width-1-2@s uk-margin-auto">
                    <legend class="uk-legend uk-text-center">CONTACTEZ-NOUS</legend>

                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Votre nom" required>
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="email" placeholder="Votre email" required>
                    </div>
                    <div class="uk-margin">
                        <textarea class="uk-textarea" rows="5" placeholder="Message..." required></textarea>
                    </div>
                    <div class="uk-margin">
                        <button class="uk-button uk-button-primary uk-width-1-1">ENVOYER</button>
                    </div>
                </form>
            </div>
        </main>
        <footer class="uk-padding-small">
            <hr>
            <div class="uk-grid uk-grid-default uk-grid-small" uk-grid style="font-size: 13px;">
                <div class="uk-width-1-1 uk-width-1-5@m uk-align-left">
                    <p>
                        © 2018 OKAZION version beta 0.01
                    </p>
                </div>
                <div class="uk-width-1-1 uk-width-1-5@m uk-align-left">
                    <a href="/conditions">
                        Regles et les conditions d'utilisations
                    </a>
                </div>
                <div class="uk-width-1-1 uk-width-1-5@m uk-align-left">
                    <a href="/about-us">
                        Contactez - nous
                    </a>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>