<!DOCTYPE html>
<html lang="fr">

<head>
    <title>OKZ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="958526051973-n3qc7e0501vo4uvlll8gq3qcrrdq587b.apps.googleusercontent.com">
    <link rel="stylesheet" href="/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/date.js"></script>
</head>
<style>
    #create {
        max-width: 964px;
        margin-right: auto;
        margin-left: auto;
    }
</style>

<body>
    <div class="uk-position-center" id="create-spinner" style="display: none;">
        <img src="/img/logo.gif" />
    </div>
    <div id="create" class="uk-box-shadow-small">
        <header style="margin-bottom: 10px">
            <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; show-on-up: true;">
                <nav class="uk-navbar uk-navbar-container">
                    <div class="uk-navbar-left">
                        <a class="uk-navbar-toggle" onclick="backTo()">
                            <span uk-icon="icon: arrow-left; ratio: 1.5"></span>
                        </a>
                    </div>
                    <div class="uk-navbar-center">
                        <a class="uk-logo" href="/">
                            <img src="/img/logo-okz.png" width="100" height="30" alt="OKZ">
                        </a>
                    </div>
                    {{ if .user }}
                    <div class="uk-navbar-right" style="height: 65px;">
                        <a uk-toggle="target: #offcanvas-flip" class="uk-navbar-toggle">
                            <span class="uk-icon uk-icon-image uk-border-circle" style="background-image: url({{.user.Picture}}); width: 30px; height: 30px;"></span>
                        </a>
                    </div>
                    {{ else }}
                    <div class="uk-navbar-right" style="height: 65px;">
                        <a href="/login" class="uk-navbar-toggle">
                            <span class="uk-icon uk-icon-image uk-border-circle" style="background-image: url(https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png); width: 30px; height: 30px;"></span>
                        </a>
                    </div>
                    {{ end }}
                </nav>
                </nav>
            </div>
            <!-- canvas content -->
            <div class="uk-offcanvas-content">
                <!-- right side -->
                <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
                    <div class="uk-offcanvas-bar">
                        <ul class="uk-nav uk-nav-default">
                            <li class="uk-nav-header">{{ .user.UserName }}</li>
                            <li>
                                <a href="/me">
                                    <span class="uk-margin-small-right" uk-icon="icon: user"></span>Profil</a>
                            </li>
                            <li>
                                <a href="/activités">
                                    <span class="uk-margin-small-right" uk-icon="icon: comment"></span>Activités</a>
                            </li>
                            <li>
                                <a href="/box">
                                    <span class="uk-margin-small-right" uk-icon="icon: comment"></span>Messages</a>
                            </li>
                            <li>
                                <a href="/settings">
                                    <span class="uk-margin-small-right" uk-icon="icon: settings"></span>Modifications</a>
                            </li>
                            <li class="uk-nav-divider"></li>
                            <li>
                                <a onclick="logout()">
                                    <span class="uk-margin-small-right" uk-icon="icon: sign-out"></span>Deconnecter</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div style="margin: 30px 10px;">
            <div id="select-category" class="uk-width-1-2@m uk-margin-auto uk-padding-small">
                <div>
                    <h3>CHOISIR LA CATEGORIE</h3>
                </div>
                <ul class="uk-nav-primary uk-nav-parent-icon" uk-nav>
                    <li class="uk-parent">
                        <a href="#">VEHICULES</a>
                        <ul class="uk-nav-sub">
                            {{ range .categories.Vehicules}}
                            <li>
                                <a onclick="setCategory({{.Name}})">{{.Name}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </li>
                    <li class="uk-parent">
                        <a href="#">ELECTRONIQUES</a>
                        <ul class="uk-nav-sub">
                            {{ range .categories.Electroniques}}
                            <li>
                                <a onclick="setCategory({{.Name}})">{{.Name}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </li>
                    <li class="uk-parent">
                        <a href="#">IMMOBILIER</a>
                        <ul class="uk-nav-sub">
                            {{ range .categories.Immobilier}}
                            <li>
                                <a onclick="setCategory({{.Name}})">{{.Name}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </li>
                    <li class="uk-parent">
                        <a href="#">SERVICES</a>
                        <ul class="uk-nav-sub">
                            {{ range .categories.Services}}
                            <li>
                                <a onclick="setCategory({{.Name}})">{{.Name}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </li>
                    <li class="uk-parent">
                        <a href="#">EMPLOIS</a>
                        <ul class="uk-nav-sub">
                            {{ range .categories.Emplois}}
                            <li>
                                <a onclick="setCategory({{.Name}})">{{.Name}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </li>
                    <li class="uk-parent">
                        <a href="#">POUR LA MAISON</a>
                        <ul class="uk-nav-sub">
                            {{ range .categories.Maison}}
                            <li>
                                <a onclick="setCategory({{.Name}})">{{.Name}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </li>
                    <li class="uk-parent">
                        <a href="#">MODE</a>
                        <ul class="uk-nav-sub">
                            {{ range .categories.Mode}}
                            <li>
                                <a onclick="setCategory({{.Name}})">{{.Name}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </li>
                    <li class="uk-parent">
                        <a href="#">LOISIR ET HOBBIES</a>
                        <ul class="uk-nav-sub">
                            {{ range .categories.Hobby}}
                            <li>
                                <a onclick="setCategory({{.Name}})">{{.Name}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </li>
                    <li class="uk-parent">
                        <a href="#">Dons gratuit d'objets</a>
                        <ul class="uk-nav-sub">
                            <li>
                                <a onclick="setCategory('dons')">Donner gratuitement des objets qui ne vous servent plus</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="ad-form" class="uk-width-1-2@m uk-margin-auto" style="display:none">
                <h2 class="uk-text-center" id="form-title">Annonce</h2>
                <form id="ad-form-field" class="uk-form-stacked">
                    <div id="type" class="uk-margin">
                        <label class="uk-form-label" for="ad-type">Type d'annonce</label>
                        <select class="uk-select" id="ad-type" onchange="setType(value)" name="ad-type">
                            <option value="Offre">Offre (Vous vendez ou louez)</option>
                            <option value="Demande">Demande (Vous recherchez)</option>
                        </select>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="title" id="title-label">Titre de l'annonce</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="title" required minlength="3" type="text" name="title" placeholder="Titre de l'annonce" maxlength="45">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="city">Choisir une ville</label>
                        <select class="uk-select" id="city" name="city">
                            {{ range .cities}}
                            <option value="{{.}}">{{.}}</option>
                            {{ end }}
                        </select>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="details">Details de l'annonce</label>
                        <textarea class="uk-textarea" rows="5" id="details" name="description" required minlength="10" placeholder="Details..."></textarea>
                    </div>
                    <div id="price-simple">
                        <div class="uk-margin">
                            <label class="uk-form-label" id="price" for="prix">Prix</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="prix" type="text" name="price" pattern="[0-9]+" placeholder="En Fcfa">
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="contact">Contact tel</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="contact" name="contact" type="tel" pattern="[0-9]{8}" required placeholder="Votre contact tel">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="js-upload uk-placeholder uk-text-center">
                            <span uk-icon="icon: cloud-upload"></span>
                            <span class="uk-text-middle">Ajouter des photos</span>
                            <div uk-form-custom>
                                <input type="file" accept="image/*" id="files" name="files">
                                <span class="uk-link">selection d'images</span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-placeholder">
                            <ul class="uk-thumbnav" uk-grid id="preview">
                            </ul>
                        </div>
                    </div>
                    <div class="uk-margin uk-grid-small uk-child-width-expand uk-grid uk-text-center">
                        <label>
                            <input class="uk-checkbox" type="checkbox" required> J'accepte les regles et les conditions d'utilisations du site
                        </label>
                    </div>
                    <div class="uk-margin">
                        <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">PUBLIER</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="/js/create.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

</html>