<!DOCTYPE html>
<html lang="fr">

<head>
    <title>{{ .ad.Title }}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous"> {{ render "components/common-head.html"}}
</head>
<style>
    a:hover {
        text-decoration: none;
    }

    #img-carousel img {
        background-color: #efefef;
    }

    h3,
    p {
        margin: 8px auto;
    }

    #head-info a:hover {
        cursor: pointer;
    }

    #detail {
        margin-right: auto;
        margin-left: auto;
        background: #fff;
    }

    .picture-nav {
        background-color: rgba(0, 0, 0, .09);
        padding: 10px;
        z-index: 2;
    }

    @media only screen and (min-width: 768px) {
        /* For desktop: */
        .mobile-profile {
            display: none;
        }
        #desktop-profile {
            display: block;
        }
        #head-info {
            padding-left: 20px;
            padding-right: 20px;
        }
        #content {
            margin-right: auto;
            margin-left: auto;
        }
        #detail {
            margin-right: auto;
            margin-left: auto;
        }
        #content {
            margin-top: 40px !important;
        }

    }

    img {
        object-fit: cover;
    }

    @media only screen and (max-width: 768px) {
        /* For mobile: */
        .mobile-profile {
            display: block;
        }
        .uk-notification-message {
            font-size: 15px;
        }
        #desktop-profile {
            display: none;
        }
        #content {
            padding: 10px;
        }
        header {
            margin-bottom: 3px;
        }
        #content {
            padding: 0px 0px;
        }
        #head-info,
        #desc-info {
            margin: 10px 10px;
        }
        header {
            margin-bottom: 1px;
        }
    }

    .uk-navbar-container:not(.uk-navbar-transparent) {
        background: #ffff;
    }

    #desc-info {
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }

    .desc-p {
        min-width: 300px;
    }
</style>

<body>
    <div class="uk-position-center" id="detail-spinner" style="display: none">
        <!-- <img src="/img/spinner.gif"> -->
        {{ render "components/spinner.html"}}
    </div>
    <div id="detail">
        {{ render "components/common-navbar2.html"}}
        <div id="content" uk-grid>
            <div id="img-carousel" class="uk-width-1-1 uk-width-2-3@m">
                <div uk-slideshow="animation: push; min-height: 272;">
                    <div class="uk-position-relative uk-visible-toggle uk-light">
                        <ul class="uk-slideshow-items">
                            {{ range .ad.Pictures }}
                            <li>
                                <img src="{{.}}" onerror="this.src='img/blank.png'" alt="Image" uk-cover>
                            </li>
                            {{ end }}
                        </ul>
                        <div class="uk-position-bottom uk-position-small  uk-position-small">
                            <div uk-lightbox uk-lightbox="animation: fade">
                                {{ range $i, $img := .ad.Pictures }} {{ if eq $i 0}}
                                <a uk-icon="expand" href="{{$img}}" data-type="image" class="picture-nav"></a>
                                {{ else }}
                                <a href="{{$img}}" data-type="image"></a>
                                {{ end }} {{ end }}
                            </div>
                        </div>
                        <a class="uk-position-center-left uk-position-small uk-hidden-hover picture-nav" href="#"
                            uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover picture-nav" href="#"
                            uk-slidenav-next uk-slideshow-item="next"></a>
                    </div>
                </div>
            </div>
            <!-- <div style="margin: 20px 10px"> -->
            <div id="head-info" class="uk-width-1-1 uk-width-1-3@m">
                <div>
                    <div style="display: inline">
                        <h2 class="uk-text-bold">{{ .ad.Title }}</h2>
                        <a class="uk-align-right favorites" onclick="addToFavorites({{.ad.ShortID}})">
                            <!-- <i class="fas fa-star" id="isFav"></i> -->
                            {{ if .isFav}}
                            <i class="fas fa-star" id="fav"></i>
                            {{ else }}
                            <i class="far fa-star" id="fav"></i>
                            {{ end }}
                        </a>
                    </div>
                    {{ if .ad.Price }}
                    <p id="ad-price" class="uk-text-bold">{{ .ad.Price }} FCFA</p>
                    {{ else }}
                    <br> {{ end }}

                </div>
                <hr>
                <div id="contact-box">
                    <div class="uk-child-width-expand@ uk-child-width-1-2" uk-grid>
                        <div>
                            <a href="#contact-modal" class="uk-button uk-button-primary uk-width-1-1" uk-toggle>Appeler</a>
                        </div>
                        <div id="contact-modal" uk-modal>
                            <div class="uk-modal-dialog rounded-border" style="width: 350px">
                                <button class="uk-modal-close-full uk-close-large rounded-border" type="button"
                                    uk-close></button>
                                <div class="uk-grid-collapse uk-child-width-1-1@s uk-flex-middle" uk-grid>
                                    <div class="uk-padding-small uk-text-center">
                                        <div class="uk-margin-auto">
                                            <div class="uk-margin-large-top">
                                                <img src="{{ .owner.Picture }}" style="height: 150px;width: 150px"
                                                    onerror="this.src='img/user.svg'" class="uk-border-circle" alt="">
                                                <p class="uk-text-bold">{{ .owner.UserName }}</p>
                                            </div>
                                        </div>
                                        <h3>+225 {{ .ad.Contact }}</h3>
                                        <small style="font-size: 11px" class="uk-text-muted">Attention ! Afin d'éviter
                                            tous désagréments ou arnaques privilégiez les rencontres
                                            dans les lieux publics, evitez d'effectuer un achat sans avoir au préalable
                                            vu
                                            le produit réellement, évitez toute transaction avec une personne
                                            d'apparence
                                            douteuse, évitez les paiements par transfert d'argent qui vous seront
                                            proposés.
                                        </small>
                                        <div class="uk-width-1-1 uk-margin">
                                            <button class="uk-button uk-button-default uk-modal-close uk-button-small load-more-btn"
                                                uk-dis>ANNULER</button>
                                            <a href="tel:+225{{ .ad.Contact }}" class="uk-button uk-button-primary uk-button-small">APPELER</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="#message-modal" class="uk-button uk-button-primary uk-width-1-1" uk-toggle>Ecrire</a>
                        </div>
                        {{ if .user }}
                        <div id="message-modal" class="uk-flex-top" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical rounded-border">
                                <button class="uk-modal-close-default" type="button" uk-close></button>
                                <div class="uk-grid-collapse uk-child-width-1-1@s" uk-grid>
                                    <div class="uk-text-center">
                                        <div class="uk-margin-medium-top">
                                            <textarea class="uk-textarea" rows="6" placeholder="Votre message pour {{.owner.UserName}}"
                                                id="message-body"></textarea>
                                        </div>
                                        <div class="uk-width-1-1 uk-margin-medium-top">
                                            <a class="uk-button uk-button-primary uk-width-1-1" onclick="sendMessage1({{.user.UserName}}, {{.user.Email}},{{.owner.Email}}, {{ .owner.UserName }})">ENVOYER</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ else }}
                        <div id="message-modal" class="uk-flex-top" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical rounded-border">
                                <button class="uk-modal-close-default" type="button" uk-close></button>
                                <div class="uk-grid-collapse uk-child-width-1-1@s" uk-grid>
                                    <div class="uk-text-center">
                                        <div class="uk-margin-medium-top">
                                            <div class="uk-margin">
                                                <input class="uk-input" type="text" id="user-name" placeholder="Votre nom"
                                                    required>
                                            </div>
                                            <div class="uk-margin">
                                                <input class="uk-input" type="email" id="user-email" placeholder="Votre email"
                                                    required>
                                            </div>
                                            <textarea class="uk-textarea" rows="6" placeholder="Votre message pour {{.owner.UserName}}"
                                                id="message-body" required></textarea>
                                        </div>
                                        <div class="uk-width-1-1 uk-margin-medium-top">
                                            <a class="uk-button uk-button-primary uk-width-1-1" onclick="sendMessage2({{.owner.Email}}, {{ .owner.UserName }})">ENVOYER</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
                <hr>
                <div id="address-map" class="uk-margin-top uk-width-1-1 uk-margin" uk-grid>
                    <div class="uk-width-1-1 uk-width-1-2@m">
                        <p class="uk-align-left">{{ .ad.City }}</p>
                    </div>
                    <div class="uk-width-expand">
                        <!-- <p class="uk-align-right">{{ .ad.City}}</p> -->
                    </div>
                </div>
                <hr>
                <div id="advertiser" class="uk-margin" uk-grid>
                    <p class="uk-text-small">Mis en ligne par: </p>
                    <div class="uk-width-1-1  uk-inline" style="margin-top: 10px;">
                        <img class="uk-border-circle" style="width: 40px; height: 40px; margin-right: 10px;" src="{{ .owner.Picture }}"
                            onerror="this.src='img/user.svg'">
                        <span>{{ .owner.UserName }}</span>
                    </div>
                </div>
            </div>
            <!-- grid end-->

            <div id="desc-info" class="uk-width-1-1 uk-width-2-3@m">
                <hr>
                <div id="description" uk-grid class="uk-margin  uk-width-1-1">
                    <p class="uk-text-large uk-text-bold desc-p uk-width-1-1">Description</p>
                    <p class="desc-p uk-width-1-1">{{ .ad.Details }}</p>
                </div>
                <hr>
                <div id="social" uk-grid class="uk-margin">
                    <p class="uk-text-primary uk-text-center uk-width-1-1">Partager cette annonce</p>
                    <div class="uk-text-center uk-width-1-1">
                        <a class="uk-icon-button uk-margin-small-right" style="color:#3B5998" href="http://www.facebook.com/sharer.php?u=https://www.okazion.ci/watch?a={{ .ad.ShortID }}&src=sp"
                            target="blank" uk-icon="facebook"></a>
                        <a class="uk-icon-button uk-margin-small-right twitter-share-button" style="color: #1dcaff"
                            href="https://twitter.com/intent/tweet?text=https://www.okazion.ci/watch?a={{ .ad.ShortID }}"
                            uk-icon="twitter"></a>
                        <a onclick="whatsAppShare()" class="uk-icon-button uk-margin-small-right" style="color: #25d366"
                            uk-icon="whatsapp"></a>
                    </div>
                    <p class="uk-align-center uk-text-small">
                        <a class="uk-text-danger" href="#report-modal" uk-toggle>Signaler cette annonce</a>
                    </p>
                    <div id="report-modal" class="uk-flex-top" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical rounded-border">

                            <button class="uk-modal-close-default" type="button" uk-close></button>
                            <div class="uk-grid-collapse uk-child-width-1-1@s uk-flex-middle" uk-grid>
                                <div class="uk-text-center">
                                    <div class="uk-margin-medium-top">
                                        <textarea class="uk-textarea" rows="6" placeholder="Dites-nous, s'il vous plaît, ce qui ne vas pas avec cette annonce!"
                                            id="report-body"></textarea>
                                    </div>
                                    <div class="uk-width-1-1 uk-margin-medium-top">
                                        <a class="uk-button uk-button-danger uk-width-1-1" onclick="sendReportMessage({{ .ad.ShortID }})">
                                            Signaler l'annonce
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <small style="font-size: 11px" class="uk-text-muted">Attention ! Afin d'éviter tous désagréments ou
                        arnaques privilégiez les rencontres dans les lieux publics,
                        evitez d'effectuer un achat sans avoir au préalable vu le produit réellement, évitez toute
                        transaction
                        avec une personne d'apparence douteuse, évitez les paiements par transfert d'argent qui vous
                        seront
                        proposés.
                    </small>
                </div>
            </div>
            <!--free space-->
            <div id="head-info" class="uk-width-1-1 uk-width-1-3@m uk-margin-auto"></div>
            <!-- right side -->
            {{ if .user}} {{ render "components/side-profile.html" }} {{ end }}
        </div>
        {{ render "components/footer.html" }}
        </section>
    </div>
    <!--end vue container -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '157821501758780',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v3.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
<script src="/js/details.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

</html>