<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/uikit.min.css" />
    <script src="/js/uikit.min.js" defer></script>
    <script src="/js/uikit-icons.min.js" defer></script>
</head>
<style>
    a:hover{
        text-decoration: none;
    }
    h3, p{
        margin: 8px auto;
    }
</style>

<body onload="detailPageLoaded()">
    <div class="uk-position-center" id="detail-spinner">
        <div uk-spinner="ratio: 2"></div>
    </div>
    <div id="detail" style="display:none">
        <header style="margin-bottom: 10px">
            <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; show-on-up: true;">
                <nav class="uk-navbar uk-navbar-container">
                    <div class="uk-navbar-left">
                        <a class="uk-navbar-toggle" onclick="goBack()">
                            <span uk-icon="icon: arrow-left; ratio: 1.5"></span>
                        </a>
                    </div>
                    <div class="uk-navbar-center">
                            <a class="uk-logo" href="/">
                                <img src="/img/logo-okz.png" width="100" height="30" alt="OKZ">
                            </a>
                        </div>
                        {{ if .user }}
                        <div class="uk-navbar-right">
                            <a uk-toggle="target: #offcanvas-flip" class="uk-navbar-toggle">
                                <span class="uk-icon uk-icon-image uk-border-circle" style="background-image: url({{.user.Picture}}); width: 30px; height: 30px;"></span>
                            </a>
                        </div>
                        {{ else }}
                        <div class="uk-navbar-right">
                            <a href="/login" class="uk-navbar-toggle">
                                <span class="uk-icon uk-icon-image uk-border-circle" style="background-image: url(https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png); width: 30px; height: 30px;"></span>
                            </a>
                        </div>
                        {{ end }}
                </nav>
            </div>
            <!-- canvas content -->
            <div class="uk-offcanvas-content">
                <!-- right side -->
                <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
                    <div class="uk-offcanvas-bar">
                        <ul class="uk-nav uk-nav-default">
                            <li class="uk-nav-header">{{ .user.UserName }}</li>
                            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span>Profil</a></li>
                            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: heart"></span>Favoris</a></li>
                            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: comment"></span>Messages</a></li>
                            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: settings"></span>Modifications</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon:  sign-out"></span>Deconnecter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <section id="img-carousel">
            <div uk-slideshow="animation: push; min-height: 250;">
                <div class="uk-position-relative uk-visible-toggle uk-light">
                    <ul class="uk-slideshow-items">
                        {{ range .ad.Pictures }}
                        <li>
                            <img src="{{.}}" alt="Image" uk-cover>
                            <div class="uk-position-bottom uk-position-small  uk-position-small">
                                <div uk-lightbox>
                                    <a uk-icon="expand" href="{{.}}" data-type="image"></a>
                                </div>
                            </div>
                        </li>
                        {{ end }}
                    </ul>
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                </div>
            </div>
        </section>
        <section style="margin: 20px 10px">
            <div>
                <div id="head-info">
                    <h2 class="uk-text-bold">{{ .ad.Title }}</h2>
                    {{ if .ad.Price }}
                    <p>{{ .ad.Price }} FCFA</p>
                    {{ else }}
                    <p>Gratuit </p>
                    {{ end }}
                    <!-- <a class="uk-align-right" href="" uk-icon="icon: heart; ratio: 1."></a> -->
                </div>
                {{ if eq .ad.OfferType "auction" }}
                <div id="contact-box" class="uk-margin">
                    <div class="uk-child-width-expand@ uk-child-width-1-2" uk-grid>
                        <div>
                            <input  type="number" class="uk-input uk-width-1-1"/>
                        </div>
                        <div>
                            <button class="uk-button uk-button-primary uk-width-1-1">Enchérir</button>
                        </div>
                    </div>
                </div>
                <hr>
                <p class="uk-text-center"><a onclick="showHistory()">Voir l'historique</a></p>
                <div id="history" class="uk-margin" style="display: none;">
                        <div class="uk-overflow-auto">
                                <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                                    <thead>
                                        <tr>
                                            <th class="uk-table-shrink">Participants</th>
                                            <th class="uk-width-small">Enchères</th>
                                            <th class="uk-table-shrink uk-text-nowrap">Dates</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><img class="uk-preserve-width uk-border-circle" src="{{.owner.Picture}}" width="40" alt=""></td>
                                            <td class="uk-text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</td>
                                            <td class="uk-text-nowrap">Lorem ipsum dolor</td>
                                        </tr>
                                        <tr>
                                            <td><img class="uk-preserve-width uk-border-circle" src="{{.owner.Picture}}" width="40" alt=""></td>
                                            <td class="uk-text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</td>
                                            <td class="uk-text-nowrap">Lorem ipsum dolor</td>
                                        </tr>
                                        <tr>
                                           <td><img class="uk-preserve-width uk-border-circle" src="{{.owner.Picture}}" width="40" alt=""></td>
                                            <td class="uk-text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</td>
                                            <td class="uk-text-nowrap">Lorem ipsum dolor</td>
                                        </tr>
                                        <tr>
                                            <td><img class="uk-preserve-width uk-border-circle" src="{{.owner.Picture}}" width="40" alt=""></td>
                                            <td class="uk-text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</td>
                                            <td class="uk-text-nowrap">Lorem ipsum dolor</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                {{ end }}
                <hr>
                <div id="contact-box">
                    <div class="uk-child-width-expand@ uk-child-width-1-2" uk-grid>
                        <div>
                            <a href="#modal-full" class="uk-button uk-button-primary uk-width-1-1" uk-toggle>Appeler</a>
                        </div>
                            <div id="modal-full" class="uk-modal-full" uk-modal>
                                <div class="uk-modal-dialog" style="min-height: 100%;">
                                    <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
                                    <div class="uk-grid-collapse uk-child-width-1-1@s uk-flex-middle" uk-grid>
                                        <div class="uk-padding-large uk-text-center">
                                            <div class="uk-margin-auto">
                                                <div class="uk-margin-large-top">
                                                    <img src="{{ .owner.Picture }}" height="150" width="150" class="uk-border-circle" alt="">
                                                    <p class="uk-text-bold">{{ .owner.UserName }}</p>
                                                    <p class="uk-text-small">from July 4, 2018</p>
                                                    <p class="uk-text-small">Reputation: <strong>9/10</strong></p>
                                                </div>
                                            </div>
                                            <h3>+225 {{ .ad.Contact }}</h3>
                                            <small>Attention s'il vous plait! Ne vous contentez pas d'un paiement anticipé si vous n'êtes pas sûr de la fiabilité du vendeur. Lors du calcul en espèces, vérifiez les marchandises lors de la rencontre avec le vendeur. Si vous utilisez le service "Transaction sécurisée", vérifiez les marchandises avant de définir le statut "Confirmé réception" ou lors d'une rencontre avec un représentant du service de livraison.</small>
                                            <div class="uk-width-1-1 uk-margin-large-top">
                                                <button class="uk-button uk-button-default uk-modal-close" uk-dis>ANNULER</button>
                                                <a  href="tel:+225{{ .ad.Contact }}" class="uk-button uk-button-primary">APPELER</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div>
                            <button class="uk-button uk-button-primary uk-width-1-1">Ecrire</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="address-map" class="uk-margin-top uk-width-1-1 uk-margin" uk-grid>
                    <div class="uk-width-1-2">
                        <p class="uk-align-left">{{ .ad.City }}</p>
                    </div>
                    <div class="uk-width-expand">
                        <!-- <p class="uk-align-right">{{ .ad.City}}</p> -->
                    </div>
                </div>
                <hr>
                <div id="advertiser" class="uk-margin" uk-grid>
                    <small>Mis en ligne par: </small>
                    <div class="uk-width-1-1  uk-inline">
                        <img class="uk-border-circle" width="40" height="40" src="{{ .owner.Picture }}">
                        <span>{{ .owner.UserName }}</span>
                    </div>
                </div>
                <hr>
                <div id="description" uk-grid class="uk-margin">
                    <p class="uk-text-large uk-text-bold uk-width-1-1">Details</p>
                    <p class="uk-width-1-1">{{ .ad.Details }}</p>
                </div>
                <hr>
                <div id="social" uk-grid class="uk-margin">
                    <p class="uk-text-primary uk-text-center uk-width-1-1">Partager cette annonce</p>
                    <div class="uk-text-center uk-width-1-1">
                        <a class="uk-icon-button uk-margin-small-right" href="http://www.facebook.com/sharer.php?u=https://google.com&src=sp" target="blank" uk-icon="facebook"></a>
                        <a class="uk-icon-button uk-margin-small-right twitter-share-button" href="https://twitter.com/intent/tweet?text=http://localhost:8080/watch?a={{ .ad.ShortID }}" uk-icon="twitter"></a>
                        <a onclick="whatsAppShare()" class="uk-icon-button uk-margin-small-right" uk-icon="whatsapp"></a>
                    </div>
                    <p class="uk-align-center uk-text-small"><a class="uk-text-danger">Signaler cette annonce</a></p>
                    <small style="font-size: 11px" class="uk-text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero fugiat, omnis maiores ad eaque dolorem accusantium non doloribus at corporis iste officiis incidunt quo minus amet commodi natus, maxime doloremque.</small>
                </div>
            </div>
            <footer>
                <hr>
                <div class="uk-text-center">
                    <small>
                        © 2018 OKZ version beta 0.01
                    </small>
                </div>
            </footer>
        </section>
    </div>
    <!--end vue container -->
    <div id="fb-root"></div>
    <script>
            window.fbAsyncInit = function() {
              FB.init({
                appId            : '157821501758780',
                autoLogAppEvents : true,
                xfbml            : true,
                version          : 'v3.0'
              });
            };
          
            (function(d, s, id){
               var js, fjs = d.getElementsByTagName(s)[0];
               if (d.getElementById(id)) {return;}
               js = d.createElement(s); js.id = id;
               js.src = "https://connect.facebook.net/en_US/sdk.js";
               fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
<script src="/js/details.js"></script>
</html>