<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Okazion</title>
    {{ render "components/common-head.html"}}
</head>

<body onload="homePageLoaded()" onoffline="offFunction()">
    <div id="main">
        {{ render "components/home-navbar.html"}}
        <!-- categories slider -->
        <div style="margin: 0px 10px">
            <div id="ads-top" style="height: 50px;"></div>
            <section id="auctions-slider" style="margin-bottom: 10px; display: none" class="uk-margin-medium-top uk-margin-xlarge-buttom">
                <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="clsActivated: uk-transition-active; center: true">
                    <ul class="uk-slider-items uk-grid">
                        {{ range .hotAuctions }}
                        <li class="uk-width-3-4 uk-width-1-4@m">
                            <a href="http://localhost:8080/watch?a={{ .ShortID }}">
                                <div class="uk-panel uk-card uk-card-default" style="height: 100%; width: 100%;">
                                    <img src="{{index .Pictures 0}}" alt="">
                                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                                        <div v-if="true" class="uk-overlay uk-overlay-default uk-dark uk-position-bottom">

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
            </section>
            <main>
                <section style="margin-top: 20px">
                    <div uk-grid>
                        <div class="uk-width-1-1 uk-width-3-4@m">
                            <div uk-grid id="listing-title" style="display: none">
                                <div class="uk-width-1-1" id="mobile-search-keyword" style="display: none">

                                </div>
                                <div class="uk-width-1-1">
                                    <h3 class="uk-align-left uk-text-bold" style="color: #00aaff;" id="category-title">TOUTES LES ANNONCES</h3>
                                    <form class="uk-align-right" id="desk-sort-by">
                                        <strong>Trier par: </strong>
                                        <select class="uk-select uk-form-width-small" style="width: 160px" onchange="setSortDesktop(value)">
                                            <option>Recents</option>
                                            <option>Prix croissant</option>
                                            <option>Prix decroissant</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="uk-grid-small uk-child-width-expand@ uk-margin uk-text-center" uk-grid id="home-spinner">
                                <div class="uk-margin" style="margin-top: 150px; margin-bottom: 150px;">
                                    <img src="img/spinner.gif">
                                </div>
                            </div>
                            <div class="uk-grid-small uk-child-width-expand@" uk-grid id="ads-field" style="display: none">
                                {{ range .ads }}
                                <div class="ad-card uk-width-1-2 uk-width-1-3@s uk-width-1-4@m">
                                    <a href="/watch/?a={{.ShortID}}">
                                        <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-auto">
                                            <div class="uk-card-media-top">
                                                <img src="{{index .Pictures 0}}" alt="Error: Failed to load image">
                                                <div class="uk-overlay uk-overlay-default uk-dark uk-position-top">
                                                    <span uk-icon="icon: location; ratio: 0.7"></span>
                                                    <small class="uk-text-bold">{{ .City }}</small>
                                                </div>
                                            </div>
                                            <div class="uk-card-body">
                                                <p class="uk-text-small uk-text-truncate">{{ .Title }}</p>
                                                {{ if gt .Price 0}}
                                                <p class="uk-text-bold">{{.Price}} FCFA</p>
                                                {{ else }}
                                                <br/> {{ end }}
                                                <p class="uk-text-right uk-text-small create-date">{{.CreatedAt}}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {{ end }}
                            </div>
                            <div class="uk-text-center uk-margin-large-top" id="loadButton" style="display: none">
                                <button class="uk-button uk-button-default uk-button-small" onclick="loadMore()">Voir plus</button>
                            </div>
                            <div class="uk-text-center uk-margin-large-top" style="display: none;" id="loadMore-spinner">
                                <img src="img/spinner.gif" style="width: 50px; height: 50px;">
                            </div>
                            <div class="uk-text-center uk-text-muted uk-text-center uk-margin-large-top" id="noMoreAds" style="display: none;">
                                <small>Malheureusement, il n'y a plus d'articles...</small>
                            </div>
                        </div>
                        <div class="uk-width-1-1 uk-width-1-4@m">
                            <!-- aside -->
                        </div>
                    </div>
                    <div id="canvas">
                        <!-- canvas content -->
                        <div class="uk-offcanvas-content">
                            <!-- left side           -->
                            <div id="categories-menu" uk-offcanvas="overlay: true">
                                <div class="uk-offcanvas-bar  uk-text-bold">
                                    <ul class="uk-nav uk-nav-default  uk-text-primary" uk-nav>
                                        <li class="uk-nav-header uk-text-center uk-margin">CATEGORIES</li>
                                        <hr>
                                        <li class="uk-nav">
                                            <a onclick="setCategory('all')">
                                                <span class="uk-icon uk-icon-image uk-margin-small-right" style="background-image: url('icons/cat-menu.svg');"></span>
                                                TOUTES LES CATEGORIES</a>
                                        </li>
                                        <li class="uk-nav-divider"></li>
                                        {{ range .categories }}
                                        <li class="uk-parent">
                                            <a href="#">
                                                <span class="uk-icon uk-icon-image uk-margin-small-right" style="background-image: url({{.Icon}});"></span>
                                                {{.Name}}</a>
                                            <ul class="uk-nav-sub">
                                                {{ range .SubCategories }}
                                                <li class="uk-nav-divider"></li>
                                                <li>
                                                    <a onclick="setCategory({{ . }})">{{ . }}</a>
                                                </li>
                                                {{ end }}
                                            </ul>
                                        </li>
                                        <li class="uk-nav-divider"></li>
                                        {{ end }}
                                    </ul>
                                </div>
                            </div>
                            <!-- right side -->
                            {{ if .user}} {{ render "components/side-profile.html"}} {{ end }}
                        </div>
                    </div>
                </section>
            </main>
            <div id="sticky" style="text-align: center; display: none;">
                {{ if .user}}
                <a onclick="goCreateAdPage()" class="uk-button uk-button-primary sticky-btn">AJOUTER UNE ANNONCE</a>
                {{ else }}
                <a onclick="loginBeforeCreate()" class="uk-button uk-button-primary sticky-btn">AJOUTER UNE ANNONCE</a>
                {{ end }}
            </div>
        </div>
    </div>
    {{ render "components/footer.html"}}
    <script src="/js/index.js"></script>
</body>
<script>
    // Check that service workers are registered
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('sw.js');
        });
    }
</script>

</html>