<!DOCTYPE html>
<html>

<head>
    <title>Messages</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
</head>

<body>
    <div id="msg-box">
        <header style="margin-bottom: 10px">
            <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; show-on-up: true;">
                    <nav class="uk-navbar uk-navbar-container">
                        <div class="uk-navbar-left">
                            <a class="uk-navbar-toggle" href="/">
                                <span uk-icon="icon: arrow-left; ratio: 1.5"></span>
                            </a>
                        </div>
                        <div class="uk-navbar-center">
                            <a class="uk-logo" href="/">
                                <img src="/img/logo-okz.png" width="100" height="30" alt="OKZ">
                            </a>
                        </div>
                        {{ if .user }}
                        <div class="uk-navbar-right">
                            <a uk-toggle="target: #offcanvas-flip" class="uk-navbar-toggle">
                                <span class="uk-icon uk-icon-image uk-border-circle" style="background-image: url({{.user.Picture}}); width: 30px; height: 30px;"></span>
                            </a>
                        </div>
                        {{ else }}
                        <div class="uk-navbar-right">
                            <a href="/login" class="uk-navbar-toggle">
                                <span class="uk-icon uk-icon-image uk-border-circle" style="background-image: url(https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png); width: 30px; height: 30px;"></span>
                            </a>
                        </div>
                        {{ end }}
                    </nav>
                </div>
                <!-- canvas content -->
                <div class="uk-offcanvas-content">
                    <!-- right side -->
                    <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
                        <div class="uk-offcanvas-bar">
                            <ul class="uk-nav uk-nav-default">
                                <li class="uk-nav-header">USER NAME</li>
                                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span>Profil</a></li>
                                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: heart"></span>Favoris</a></li>
                                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: comment"></span>Messages</a></li>
                                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: settings"></span>Modifications</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon:  sign-out"></span>Deconnecter</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </header>
        <main style="margin: 20px 10px">
            <div class="uk-grid-small" uk-grid>
                <div v-for="c in images" class="uk-width-1-1">
                    <a href="" class="uk-link-reset">
                        <div class="message-item uk-card uk-card-default uk-margin-auto">
                            <div class="uk-align-left">
                                <img class="uk-border-circle" :src="c" alt="Example image">
                            </div>
                            <div>
                                <p class="uk-text-small">Lorem, ipsum dolor sit amet consectetur adipisicing</p>
                                <p class="uk-text-right uk-text-small">Duis aute </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </main>
        <footer>
            <hr>
            <div class="uk-text-center">
                <small>
                    © 2018 OKZ version beta 0.01
                </small>
            </div>
        </footer>
    </div>
</body>
</html>