<!DOCTYPE html>
<html lang="en">

<head>
    <title>Politique de Confidentialité</title>
    {{ render "components/common-head.html"}}
</head>
<style>
    #contact {
        margin-right: auto;
        margin-left: auto;
    }

    #contact-spinner {
        position: fixed !important;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-color: rgba(119, 117, 117, 0.3);
        display: none;
    }

    #contact-spinner img {
        display: block;
        margin: 40% auto 10% auto;
    }


    @media only screen and (max-width: 1192px) {

        /* For mobile: */
        .uk-padding {
            padding: 10px 20px;
        }

        ol,
        ul {
            padding-left: 12px;
        }
    }
</style>

<body>
    <div class="uk-position-center uk-text-center" id="contact-spinner">
        <img src="img/spinner.gif" />
        <p class="uk-margin">Envoi du message en cours...</p>
    </div>
    <div id="contact">
        {{ render "components/secondary-header.html"}}
        <main>
            <div class="uk-padding">

                <h3 class="uk-text-center">POLITIQUE DE CONFIDENTIALITÉ DU SITE</h3>
                <p>
                    Ce site web a été élaboré par une équipe de jeunes développeurs ivoiriens. Dans la présente
                    Politique de Confidentialité,
                    les expressions comme « nous », « notre », etc. font référence à ces derniers. Les expressions
                    comme
                    « vous », « votre », etc. font référence à vous en tant qu’usager du site web, que vous vous soyez
                    inscrit
                    ou non sur notre site web. Veuillez lire attentivement cette Politique de Confidentialité du site
                    web
                    et abstenez-vous de l’utiliser si vous êtes en désaccord avec l’une des pratiques qui s’y trouvent
                    décrites.
                    Nous savons que vous tenez à la protection de vos données personnelles, et nous aussi. C’est pour
                    cette
                    raison que nous manipulons les données personnelles avec le plus grand soin et la plus grande
                    discrétion.
                    Politique de Confidentialité du site web décrit comment nous collectons, traitons et utilisons vos
                    données
                    personnelles lorsque vous visitez et/ou que vous vous inscrivez sur notre site web.</p>

                <h3 class="uk-text-center">QUE SONT LES DONNÉES PERSONNELLES ?</h3>
                <p>
                    L’expression « données personnelles » telle qu’employée ici comprend toute information qui vous est
                    attribuée ou attribuable
                    en tant qu’usager de notre site web, que cette information y ait été saisie par vous, collectée
                    auprès
                    de vous ou obtenue de toute autre façon. Qui est responsable de la bonne manipulation de vos
                    données
                    personnelles ? En tant propriétaires et exploitant de ce site web, nous sommes responsable de la
                    bonne
                    manipulation et du contrôle de toutes les données personnelles que nous possédons à votre sujet, et
                    que
                    nous collectons, traitons et utilisons par rapport à votre usage du site web ou autre.</p>

                <h3 class="uk-text-center">QUE FAISONS-NOUS AVEC VOS DONNÉES PERSONNELLES ?</h3>
                Nous collectons, traitons et faisons usage de vos données personnelles aux fins suivantes uniquement :
                <ul>
                    <li>
                        administration, opération, maintenance et amélioration du site web ;
                    </li>
                    <li>
                        pour nous aider à améliorer et à personnaliser le site web et nos services ;
                    </li>
                    <li>
                        pour réaliser des analyses et études relatives au comportement des utilisateurs, dont des
                        études de marché en général ou
                        des enquêtes concernant les besoins des clients et leurs avis sur certains aspects spécifiques,
                        pour
                        nous permettre de déterminer les structures de trafic et des ventes et d’analyser notre
                        efficacité
                        publicitaire, le tout sur une base anonyme (c'est-à-dire à l’aide de données compilées) ou
                        individuelle
                        (pour autant que la loi l’autorise) ;
                    </li>
                    <li>
                        pour répondre à vos questions et donner suite à vos demandes ;
                    </li>

                </ul>
                <h3 class="uk-text-center">QUELS TYPES DE DONNÉES PERSONNELLES COLLECTONS-NOUS, TRAITONS-NOUS ET
                    UTILISONS-NOUS?</h3>
                De manière générale, les données personnelles courantes comporteront les informations suivantes:
                <ul>
                    <li>
                        nom, titre et adresse ;
                    </li>
                    <li>
                        informations personnelles de contact (téléphone, e-mail, lieux de résidence etc...);
                    </li>
                    <li>
                        nom d’utilisateur et mot de passe pour la connexion ;
                    </li>
                    <li>
                        information sur le profil de l’utilisateur ;
                    </li>
                    <li>
                        préférences de l’utilisateur (par exemple, les annonces que vous préférez) ;
                    </li>
                    <li>
                        les termes de recherche saisis ;
                    </li>
                    <li>
                        les annonces visualisés ou recherchés sur le site web ;
                    </li>
                </ul>

                <h3 class="uk-text-center">QUE FAISONS-NOUS D'AUTRE POUR PROTÈGER VOS DONNÉES PERSONNELLES ?</h3>
                <p>
                    Nous sommes conscient de l’importance de la sécurité des données et nous voulons que votre
                    expérience de navigation avec
                    nous soit aussi sûre que possible. Nous avons mis en place des protections et pris des mesures
                    raisonnables
                    pour la sauvegarde de vos données personnelles, y compris des mesures techniques et
                    organisationnelles
                    contre l’accès non autorisé, le mauvais usage, la modification, la destruction illicite ou
                    accidentelle
                    ou encore la perte accidentelle de données, aussi bien en ligne qu’hors ligne. Nous vous prions
                    toutefois
                    de considérer que, malgré tous nos efforts pour protéger vos données personnelles contre les
                    risques
                    et expositions potentiels, il n’y a pas de sécurité absolue dans l’univers en ligne. Par
                    conséquent,
                    nous vous serions obligés de soutenir nos efforts de sécurité informatique en vous abstenant de
                    révéler
                    sur notre site web toute donnée particulièrement sensible ou non requise dans le contexte concerné.
                    À
                    cet égard, Vous pouvez nous aider à protéger vos données personnelles en vous déconnectant lorsque
                    vous
                    avez fini d’utiliser les zones protégées du site web.</p>

                <h3 class="uk-text-center">COMBIEN DE TEMPS CONSERVONS-NOUS LES DONNÉES PERSONNELLES ?</h3>
                <p>
                    En conformité avec les lois applicables et/ou les directives sur la conservation des données, vos
                    données personnelles ne
                    sont conservées par nous que pour la durée requise aux fins desquelles elles ont été collectées.
                    Les
                    transcriptions des conversations en ligne avec notre service clients sont en principe conservées au
                    maximum
                    pendant 30 jours.
                </p>
            </div>
        </main>
        {{ render "components/footer.html"}}
    </div>
</body>

</html>