<!DOCTYPE html>
<html lang="fr">

<head>
    <title>{{.user.UserName}}</title>
    {{ render "components/common-head.html"}}
    <link rel="stylesheet" href="/css/profile-setting.css" />
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet">
    <script src="/js/cleave.min.js"></script>
    <script src="/js/cleave-phone.ci.js"></script>
</head>

<body>
    <div id="profile-setting">
        {{ render "components/common-navbar1.html" }}
        <main style="margin: 20px 10px">
            <div id="main-setting" class="uk-margin" uk-grid>
                <div class="uk-text-center uk-margin-auto">
                    <div class="dashboard-profil">

                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                                <label for="imageUpload"></label>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview" style="background-image: url({{.user.Picture}}), url('img/user.svg');">
                                </div>
                            </div>
                        </div>
                        <p class="uk-text-bold">{{ .user.UserName }}</p>
                        <p class="uk-text-small">{{ .user.CreatedAt }}</p>
                        <!-- <p class="uk-text-small">Reputation:
                            <strong>9/10</strong>
                        </p> -->
                    </div>
                </div>
                <div class="uk-width-1-1 uk-text-center uk-margin-auto">
                    <div class="user-data" uk-grid>
                        <div class="user-name uk-width-1-1">
                            <p class="uk-align-left">Nom</p>
                            <a class="uk-align-right uk-text-truncate" href="#user-name-modal" uk-toggle>{{.user.UserName}}
                                <span uk-icon="icon: arrow-right"></span>
                            </a>
                        </div>
                        <div id="user-name-modal" class="uk-flex-top" uk-modal>
                            <div class="uk-modal-dialog uk-margin-auto-vertical rounded-border">
                                <div class="uk-padding uk-width-1-1 uk-text-center uk-margin-auto">
                                    <div class="uk-text-center uk-margin-auto">
                                        <div class="dashboard-profil">
                                            <img src="{{ .user.Picture }}" onerror="this.src='img/user.svg'" alt=""
                                                uk-img>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1 uk-text-center uk-margin-auto uk-margin">
                                        <div class="uk-margin">
                                            <input class="uk-input" type="text" value="{{ .user.UserName }}" id="userName">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1">
                                        <button class="uk-button load-more-btn uk-button-default uk-modal-close uk-button-small">ANNULER</button>
                                        <a onclick="updateUserName()" class="uk-button uk-button-danger uk-button-small">VALIDER</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-tel uk-width-1-1">
                            <p class="uk-align-left">Telephone</p>
                            <a class="uk-align-right uk-text-truncate" href="#contact-modal" uk-toggle>+225
                                {{.user.PhoneNumber }}
                                <span uk-icon="icon: arrow-right"></span>
                            </a>
                        </div>
                        <div id="contact-modal" class="uk-flex-top" uk-modal>
                            <div class="uk-modal-dialog uk-margin-auto-vertical rounded-border">
                                <div class="uk-padding uk-width-1-1 uk-text-center uk-margin">
                                    <div class="uk-width-1-1 uk-text-center uk-margin-auto uk-margin">
                                        <div class="uk-margin">
                                            <input class="uk-input contact-input" type="text" minlength="8" value="{{ .user.PhoneNumber }}"
                                                id="contact" placeholder="Contact">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1">
                                        <button class="uk-button uk-button-default uk-modal-close uk-button-small">ANNULER</button>
                                        <a onclick="updateUserContact()" class="uk-button uk-button-danger uk-button-small">VALIDER</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-city uk-width-1-1">
                            <p class="uk-align-left">Ville</p>
                            <a class="uk-align-right uk-text-truncate" href="#location-modal" uk-toggle>
                                {{.user.Location }}
                                <span uk-icon="icon: arrow-right"></span>
                            </a>
                        </div>
                        <div id="location-modal" class="uk-flex-top" uk-modal>
                            <div class="uk-modal-dialog uk-margin-auto-vertical rounded-border">
                                <div class="uk-padding uk-width-1-1 uk-text-center uk-margin">
                                    <div class="uk-width-1-1 uk-text-center uk-margin-auto uk-margin">
                                        <div class="uk-margin">
                                            <select class="uk-select" id="location">
                                                <option value="{{.user.Location}}">{{.user.Location}}</option>
                                                {{ $city := .user.Location}} {{ range .cities}} {{ if ne . $city }}
                                                <option value="{{.}}">{{.}}</option>
                                                {{end }} {{ end }}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1">
                                        <button class="uk-button uk-button-default uk-modal-close uk-button-small">ANNULER</button>
                                        <a onclick="updateUserLocation()" class="uk-button uk-button-danger uk-button-small">VALIDER</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-email uk-width-1-1">
                            <p class="uk-align-left">Identifiant</p>
                            <p class="uk-align-right uk-text-truncate" href="">{{ .user.Email }}
                                <span uk-icon="icon: arrow-right"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div uk-grid id="set-city" style="display: none">
                <div class="uk-width-1-1 uk-text-center uk-margin-auto uk-margin">
                    <div class="uk-margin">
                        <input class="uk-input" value="{{ .user.Location }}" type="text" placeholder="ville">
                    </div>
                </div>
                <div class="uk-margin-large-top uk-child-width-expand uk-child-width-1-2" uk-grid>
                    <div>
                        <a class="uk-button uk-button-danger uk-width-1-1 uk-modal-close">ANNULER</a>
                    </div>
                    <div>
                        <a class="uk-button uk-button-primary uk-width-1-1">APPLIQUER</a>
                    </div>
                </div>
            </div>
        </main>
        <!-- right side -->
        {{ if .user}} {{ render "components/side-profile.html"}} {{ end }} {{ render "components/footer.html"}}
    </div>
    <script src="/js/profile-setting.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
</body>

</html>