body {
    font-family: 'Open Sans', -apple-system, 'Roboto', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333333;
    line-height: 1.33;
}

.uk-button {
    border-radius: 7px;
}

.rounded-border {
    border-radius: 7px;
}

.uk-link,
a {
    color: #00aaff;
}

a:hover {
    text-decoration: none;
}

.sticky {
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 8px;
    min-width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 101;
    padding: 0;
    height: 56px;
    -webkit-overflow-scrolling: touch;
    transition: transform .2s ease-in-out;
    transform: translate(0);
}

.loadMore {
    z-index: 5;
}

.hideSticky {
    display: none;
}

.card-img {
    height: 90px;
    object-fit: cover;
}

.ads-listing a {
    text-decoration: none;
}

.preview-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.dashboard-profil img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px lightblue solid;
    border-radius: 50%;
}

#categories-menu li,
#side-profile li,
#side-profile a,
#categories-menu a {
    color: #393939;
}

.user-ads {
    min-height: 400px;
}

main {
    min-height: 500px;
}

#main {
    margin-right: auto;
    margin-left: auto;
    background: #fff;
}

.write-msg-field {
    margin: 5px auto;
    padding: 10px;
}

.ad-card img {
    width: 100%;
    height: 168px;
    min-height: 168px;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
}

.ad-card .uk-overlay {
    color: #fff;
    padding: 5px;
    background: rgba(0, 0, 0, .2);
    border-radius: 4px 4px 0px 0px;
}

.ad-card .uk-card-badge {
    position: absolute;
    top: 8px;
    right: 5px;
    z-index: 1;
}

.ad-card small {
    font-size: 11px;
}

.ad-card .uk-label {
    padding: 0px 5px;
    text-transform: capitalize;
}

.ad-card .uk-card-body {
    padding: 5px;
}

.ad-card p {
    margin: 5px 0px;
    color: #393939;
}

.ad-card .uk-text-truncate {
    color: #00aaff;
    font-weight: bold;
}

.ad-card .uk-text-small {
    font-size: 13px;
}

.uk-card {
    border-radius: 4px;
}

.message-item {
    height: 100px;
    padding: 10px 10px;
}

.user-data div {
    border-bottom: 2px lightgray solid;
}

.message-item img {
    max-width: 80px;
    max-height: 80px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

#auctions-slider .uk-overlay {
    padding: 2% 30px;
    color: #ea1b42;
}

#auctions-slider img {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

#search-bar .uk-form-width-medium {
    width: 310px;
}

.ad-card .uk-countdown-number,
.ad-card .uk-countdown-separator {
    font-size: 1rem;
}

nav ul {
    list-style: none;
}

.ad-card .uk-countdown-number,
.uk-countdown-separator {
    line-height: 30px;
}

.ad-card>a:hover {
    text-decoration: none;
}

.cat-badge {
    margin: 10px;
    font-size: 15px;
    padding: 15px;
    font-weight: bold;
}

.cat-badge .uk-icon {
    margin-left: 5px;
}

/* .uk-card-default {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
} */

@media only screen and (min-width: 1192px) {
    /* For desktop: */
    #mobile-header {
        display: none;
    }
    #desktop-header {
        display: block;
    }
    .uk-navbar-container:not(.uk-navbar-transparent) {
        background: #fff;
    }
    .ad-card .uk-text-small {
        font-size: 15px;
    }
    a {
        color: #00aaff;
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    #sticky a {
        font-weight: bold;
    }
    #desktop-header img {
        height: 40px;
        width: auto;
    }
    #desktop-sorter {
        display: flex;
    }
    #desk-sort-by {
        display: block;
    }
    #mobile-search-keyword {
        display: none;
    }
}

@media only screen and (max-width: 1192px) {
    /* For mobile: */
    #mobile-header {
        display: block;
    }
    #desktop-header {
        display: none;
    }
    footer [class*=uk-align] {
        display: block;
        margin-bottom: 5px;
    }
    #desktop-sorter {
        display: none;
    }
    #desk-sort-by {
        display: none;
    }
    #mobile-search-keyword {
        display: block;
    }
    .uk-navbar-container:not(.uk-navbar-transparent) {
        background: rgba(255, 255, 255, .9);
    }
    .ad-card img {
        width: 100%;
        height: 145px;
        min-height: 145px;
        object-fit: cover;
        border-radius: 4px 4px 0px 0px;
    }
}

/* for more small device like 4 inch phone */

@media only screen and (max-width: 340px) {
    .ad-card img {
        width: 100%;
        height: 120px;
        min-height: 120px;
        object-fit: cover;
        border-radius: 4px 4px 0px 0px;
    }
    .uk-h3,
    h3 {
        font-size: 1.3rem;
    }
    .uk-nav-primary>li>a {
        font-size: 1.2rem;
    }
    #search-bar .uk-form-width-medium {
        width: 270px;
    }
}